@import url("./root.css");

.products-container {
    background-color: var(--primary-color);
}

.products-container .row .card {
  transition: transform 0.3s ease;
  background-color: var(--products-background-color);
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card .card-title, .card .card-text {
  color: var(--primary-color);
}

.card:hover {
  transform: translateY(-5px);
  border: none;
}