@import url("./root.css");

.products-container {
  background: var(--view-color);
}

.men-container {
  background: var(--men-color);
}

.women-container {
  background: var(--women-color);
}

.kids-container {
  background: var(--kids-color);
}

.products-container .row .card {
  transition: transform 0.3s ease;
  background-color: var(--primary-color);
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card .card-title,
.card .card-text {
  color: var(--secondary-color);
}

.card:hover {
  transform: translateY(-5px);
  border: none;
}

.page-item {
  padding: 10px 0;
}

.page-item .page-link {
  color: #333;
  border-radius: 6px;
  margin: 0 10px;
}

.page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
}

.page-item.disabled .page-link {
  pointer-events: none;
}