:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --view-color: linear-gradient(135deg, rgb(239, 232, 232) 0%, rgb(239, 234, 234) 100%);
    --men-color: linear-gradient(135deg, rgb(180, 204, 228) 0%, rgb(255, 255, 255) 100%);
    --women-color: linear-gradient(135deg, rgb(233, 201, 233) 0%, rgb(255, 255, 255) 100%);
    --kids-color: linear-gradient(135deg, rgb(228, 171, 171) 0%, rgb(255, 255, 255) 100%);
    --search-background-color: rgb(146, 146, 68);
}